<div class="row">
	<div class="col-md-8 col-md-offset-2"></div>
	<h1>Welcome to BankD</h1>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4 login-prompt">
		<h2>Log in to your BankD Account</h2>
		<%= form_tag sessions_create_path, method: "post" do %>
			<% if flash[:notice] %>
				<div class="alert alert-danger"><%= flash[:notice] %></div>
			<% end  %>

				<label for="email">Email</label>
				<input type="email" class="form-control" name="email" placeholder="john.doe@example.com"></input>
			<label for="password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Your password"></input>
			

				<input type="submit" class="btn btn-primary" value="Log in"></input>

		<% end %>
		<div class="link-wrapper">
			<%= link_to 'Or create a new account...', signup_path %>
		</div>
	</div>
</div>
