<div class="row">
	<div class="col-md-4 col-md-offset-4 login-prompt">
		<h2>Sign up for a BankD Account</h2>
		<%= form_tag register_path, method: "post" do %>
			<% if flash[:notice] %>
				<div class="alert alert-danger"><%= flash[:notice] %></div>
			<% end  %>

				<label for="email">Email</label>
				<input type="email" class="form-control" name="email" placeholder="john.doe@example.com"></input>
			<label for="password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Your password"></input>
			

				<input type="submit" class="btn btn-primary" value="Log in"></input>

		<% end %>
		<div class="link-wrapper">
			<%= link_to 'Or log in...', login_path %>
		</div>
	</div>
</div>