<div class="col-md-4 col-md-offset-4 login-prompt">
	<h2>Log in to your BankD Account</h2>
	<div class="alert alert-danger" ng-show="loginError.length > 0">
		{{loginError}}
	</div>
	<form>
		<label for="email">Email</label>
		<input type="email" class="form-control" name="username" placeholder="john.doe@example.com"
			   ng-model="loginData.username" value="tino.wittig@prodoweb.de">

		<label for="password">Password</label>
		<input type="password" class="form-control" name="password" placeholder="Your password"
			   ng-model="loginData.password" value="test1234">

		<input type="submit" class="btn btn-primary" ng-click="login(loginData)" value="Log in">
	</form>
	<div class="link-wrapper">
		<a href="/register">Or create a new account...</a>
	</div>
</div>
